{% extends 'base.html.twig' %}

{% block body %}

    <tbody>
    {% for student in students %}
        <tr>
            <td>
                    <span class="custom-checkbox">
                    <input type="checkbox" id="checkbox1" name="options[]" value="1">
                        <label for="checkbox1"></label>
                    </span>

            </td>
            <td>{{ student.id }}</td>
            <td>{{ student.firstname }}</td>
            <td>{{ student.lastname }}</td>

        </tr>
    {% endfor %}
    <tr>
        <td>

    </tbody>

{% endblock %}