body{
    background: linear-gradient(rgba(200,200,200,.5), rgba(200,200,200,.5)),url("../img/students.jpeg") no-repeat fixed center;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 400px;
    max-width: 100%;
    margin-top: 20px;
}

.table-title {
    padding-bottom: 15px;
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    color: #fff;
    padding: 16px 30px;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
    list-style: none;
}
.table-title h1 {
    margin: 5px 0 0;
    font-size: 30px;
    text-align: center;
}

.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.form-container{
    padding: 25px 25px;
}
