@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

.row h1
{
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}
.row h2
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.form-card
{
    width: 700px;
    background: rgba(255,255,255,.6);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.table-title {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
    color: #fff;
    border-radius: 1px 1px 0 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
    list-style: none;
    margin-bottom: 20px;
    width: 100%;
}
.table-title h1{
    text-align: center;
}