*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    background: #fff;
}

.wrapper .header{
    z-index: 1;
    background: #22242A;
    position: fixed;
    width: calc(100% - 0%);
    height: 70px;
    display: flex;
    top: 0;
}
.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.wrapper .header .header-menu .title{
    color: #fff;
    font-size: 25px;
    font-weight: 900;
}
.wrapper .header .header-menu .sidebar-btn{
    color: #fff;
    position: absolute;
    margin-left: 240px;
    font-size: 22px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}
.wrapper .header .header-menu .sidebar-btn:hover{
    color: #4CCEE8;
}
.wrapper .header .header-menu ul{
    display: flex;
}
.wrapper .header .header-menu ul li a{
    background: #fff;
    color: #000;
    display: block;
    margin: 0 10px;
    font-size: 18px;
    width: 34px;
    height: 34px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    transition-property: background, color;
}
.wrapper .header .header-menu i{
    margin-top: 25%;
}
.wrapper .header .header-menu ul li a:hover{
    background: #4CCEE8;
    color: #fff;
}
.wrapper .sidebar{
    z-index: 1;
    background: #2F323A;
    position: fixed;
    top: 70px;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.3s;
    transition-property: width;
    overflow-y: auto;
}
.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .profile img{
    margin: 20px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color:#bbb;
    font-weight: 700;
    margin-bottom: 10px;
}
.wrapper .sidebar .sidebar-menu .item{
    width: 250px;
    overflow: hidden;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: #fff;
    position: relative;
    padding: 25px 20px;
    transition: 0.3s;
    transition-property: color;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
    color: #4CCEE8;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 20px;
}
.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 3px;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background: #3498D8;
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
    transition-property: background;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: #fff;
    white-space: nowrap;
    font-size: 15px;
    padding: 20px;
    border-bottom: 1px solid #8FC5E9;
    transition: 0.3s;
    transition-property: background, max-height;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    background: #55B1F0;
}
.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    padding-right: 20px;
    font-size: 10px;
}
.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
    max-height: 500px;
}
.wrapper .main-container{
    width: calc( 100% - 250px);
    margin-top: 50px;
    margin-left: 250px;
    padding: 15px;
    background: url("../img/students.jpeg")no-repeat;
    background-size: cover;
    height: 200vh;
    transition: 0.3s;
}
.wrapper.collapse .sidebar{
    width: 50px;
}
.main-container .wrapper{
}
.main-container .wrapper .box{
    width: 45%;
    float: left;
    margin: 20px 20px;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    display: flex;
}
.main-container .wrapper .box span{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 11px;
}
.main-container .wrapper .box h4{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}
.main-container .wrapper .box p{
    font-size: 13px;
    line-height: 24px;
    height: 50px;
    overflow: hidden;
}
.main-container .wrapper .box i{
    font-size: 13px;
}

.main-container .wrapper .box a{
    font-size: 12px;
    display: inline-block ;
    color: #FFFFFF;
    background-color:#2196f3;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: 40px;

}
.main-container .wrapper .box a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.main-container .wrapper .box img{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.main-container .wrapper .box.showContent p{
    height: auto;
}
.main-container .wrapper .box.showContent a.readmore-btn{
    background-color: red;
}



.main-container .wrapper .box .box__info span{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 11px;
}
.main-container .wrapper .box .box__info h4{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 14px;
}
.main-container .wrapper .box .box__info p{
    font-size: 13px;
    line-height: 24px;
    height: 50px;
    overflow: hidden;
}
.main-container .wrapper .box .box__info i{
    font-size: 13px;
}

.main-container .wrapper .box .box__info a{
    font-size: 12px;
    display: inline-block ;
    color: #FFFFFF;
    background-color:#2196f3;
    padding: 10px 15px;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 40px;

}
.main-container .wrapper .box .box__info a:hover{
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.main-container .wrapper .box .box__info img{
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.main-container .wrapper .box .box__info.showContent p{
    height: auto;
}
.main-container .wrapper .box .box__info.showContent a.readmore-btn{
    background-color: red;
}
