@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #f3f3f3;
}

.card-wrapper{
    position: relative;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 40vh;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.card-wrapper .left{
    width: 35%;
    background: linear-gradient(to right,#003a78,#4d87c4);
    padding: 50px 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.card-wrapper .left img{
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-wrapper .left h4{
    margin-bottom: 10px;
    font-size: 35px;
}

.card-wrapper .left p{
    font-size: 20px;
}

.card-wrapper .right{
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card-wrapper .right .info,
.card-wrapper .right .projects{
    margin-bottom: 25px;
}

.card-wrapper .right .info h3,
.card-wrapper.right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card-wrapper .right .info_data,
.card-wrapper .right .projects_data{
    display: flex;
    justify-content: space-between;
}

.card-wrapper .right .info_data .data,
.card-wrapper .right .projects_data .data{
    width: 45%;
}

.card-wrapper .right .info_data .data h4,
.card-wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.card-wrapper .right .info_data .data p,
.card-wrapper .right .projects_data .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #919aa3;
}
.card-wrapper .right .btn-info{
    margin-top: 30px;
}
.card-wrapper .social_media ul{
    display: flex;
}

.card-wrapper.social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.card-wrapper .social_media ul li a{
    color :#fff;
    display: block;
    font-size: 18px;
}