
<div class="wrapper">
    <div class="header">
        <div class="header-menu">
            <div class="title">eSchool</div>
            <label for ="menu" class="sidebar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul>
                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}"><i class="fas fa-power-off"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>

</div>>